.nav-bar {
    width: 100%;
  }
  .logo {
    /* padding-left: 50px; */
    width: 200px;
    align-content: center;
  }
  .logo img {
    display: flex;
    align-items: center;
    height: 70px;
    width: 200px;
  }
  
  headmer {
    width: 100%;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: #282829 0px 0px 5px 0px;
  }
  nav {
    width: 100%;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul li {
    height: fit-content;
    list-style: none;
    display: flex;
    align-items: center;
  }
  nav ul li a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    font-weight: 450;
    text-decoration: none;
    color: black;
  }
  nav ul li a:hover {
    background: #f08143;
    background: linear-gradient(to right, #F08143 26%, #9747FF 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav li:first-child{
    margin-right: auto;
  }
  
  .login-button {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
  }
  .login-button a {
    color: rgb(255, 255, 255);
  }
  


  <div className="logo">
                  <img src={logo} alt="" />
                </div>