.home {
  padding-top: 71px;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.slider {
  width: 90%; /* Adjusts width for responsiveness */
  max-width: 800px; /* Limits maximum size for larger screens */
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  transition: 2s;
}
.slides input {
  display: none;
}
.slide {
  flex: 0 0 100%; /* Ensures each slide takes full width */
}
.slide img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Optional for rounded corners */
}

.navigation-manual {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.manual-btn:not(:last-child) {
  margin-right: 10px;
}
.manual-btn:hover {
  background-color: black;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -100%;
}
#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: black;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .slider {
    height: auto;
  }
  .manual-btn {
    padding: 3px;
  }
  .navigation-auto div {
    padding: 3px;
  }
}

@media screen and (max-width: 480px) {
  .slider {
    border-radius: 10px;
  }
  .manual-btn {
    padding: 2px;
  }
  .navigation-auto div {
    padding: 2px;
  }
}






import "../Components/Footer.css";
import logofooter from "../Components/Assets/hussme Logo-2 2-black.jpg";
export function Footer() {
  return (
    <div className="footer">
      <div className="footer-col">
        <div className="col-1">
          <img src={logofooter} alt="" />
          <p>
            Streaming the business process for growth and bring in the out of
            the box solution to reduce expenses
          </p>
        </div>
        <div className="col-2">
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Business</a>
            </li>
            <li>
              <a href="">Talent</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Contact US</a>
            </li>
          </ul>
        </div>
        <div className="col-3">
          <ul>
            <li>
              <a href="">Privacy policy</a>
            </li>
            <li>
              <a href="">Terms & Condition</a>
            </li>
            <li>
              <a href="">Partners</a>
            </li>
          </ul>
        </div>
        <div className="col-4">
          <div className="cover">
            <div className="con"><div className="contact-btn">
              <a href="">Contact Us</a>
            </div></div>
            
            <div className="mobile">
              <a href="tel:+1 803 803 9889">+1 803 803 9889</a>
            </div>
            <div className="mail">
              <a href="mailto:support@hussme.com">support@hussme.com</a>
            </div>

            <div className="social-media">
              <a href="">
                <div className="x-icn"></div>
              </a>
              <a href="">
                <div className="insta-icn"></div>
              </a>
              <a href="">
                <div className="fb-icn"></div>
              </a>
              <a href="">
                <div className="linkedin-icn"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div className="copyright">
        {/* <div className="line"> jhbjh</div> */}
        <hr />
        <div className="copy-container"> <h4>©All Copyrights 2025 by Husssme</h4></div>
       
      </div>
    </div>
  );
}





.footer-col {
    margin-top: auto;
    width: 100%;
    height: 280px;
    border-radius: 20px 5px 0px 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .col-1 {
    width: 8%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .col-1 img {
    height: 90px;
    width: 250px;
  }
  .col-1 p {
    width: 300px;
    margin: 0;
    padding-left: 70px;
    font-size: 17px;
    color: aliceblue;
    text-align: left;
  }
  
  .col-2 {
    width: max-content;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .col-2 ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .col-2 ul li {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .col-2 ul li a {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
  }
  
  .col-3 {
    width: max-content;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .col-3 ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .col-3 ul li {
    display: flex;
    justify-content: left;
  }
  .col-3 ul li a {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
  }
  .col-4 {
    width: 8%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: left;
    /* gap: 10px; */
  }
  .cover {
    display: flex;
    flex-direction: column;
    justify-content: left;
  
    gap: 5px;
  }
  .con {
    display: flex;
    /* justify-content: center; */
  }
  .contact-btn {
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f08143;
    border-radius: 24px;
  }
  .contact-btn:hover {
    background-color: #8a2be2;
  }
  .contact-btn a {
    font-size: 21px;
    font-weight: 600;
    font-style: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .mobile {
    display: flex;
    /* justify-content: center; */
  }
  .mobile a {
    font-size: 19px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .mail {
    display: flex;
    /* justify-content: center; */
  }
  .mail a {
    font-size: 19px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .social-media {
    display: flex;
    flex-direction: row;
  }
  .x-icn {
    height: 50px;
    width: 50px;
    background-image: url("../Components/Assets/svg/x-icn-pink.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .x-icn:hover {
    background-color: #8a2be2;
    color: aquamarine;
    background-image: url("../Components/Assets/svg/x-icn-white.svg");
  }
  .insta-icn {
    height: 50px;
    width: 50px;
    background-image: url("../Components/Assets/svg/iiinsta.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .insta-icn:hover {
    background-color: #8a2be2;
    color: aquamarine;
    background-image: url("../Components/Assets/svg/iinsta-white.svg");
  }
  .fb-icn {
    height: 50px;
    width: 50px;
    background-image: url("../Components/Assets/svg/fb-icn-pink.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fb-icn:hover {
    background-color: #8a2be2;
    color: aquamarine;
    background-image: url("../Components/Assets/svg/fb-icn-white.svg");
  }
  .linkedin-icn {
    height: 50px;
    width: 50px;
    background-image: url("../Components/Assets/linkedin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .linkedin-icn:hover {
    background-color: #8a2be2;
    color: aquamarine;
    background-image: url("../Components/Assets/linkedin-white.png");
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    height: 63px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 1.5px;
    width: 10%;
    color: aliceblue;
  }
  
  .copy-container h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(109, 109, 109);
  }
  hr{
    
    width: 70%;
    
  }




  for try -->
  https://www.youtube.com/watch?v=_NPzWvTD2w8




  .section_padding{
    padding:4rem 4rem;
  }
  .footer{
    background-color: black;
  
  }
  .sb_footer{
    display: flex;
    flex-direction: column;
  }
  .sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
  }
  .sb_footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
  
  
  }
  a{
    color: white;
    text-decoration: none;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
  
  
  }
  .socialmedia a{
    width: 80%;
  
  }
  .sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 05rem 0;
    cursor: pointer;
  }
  .sb-footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
  
  }
  hr{
    color: white !important;
    width: 100%;
  }
  @media scren and(max-width:550px){
    .sb_footer-link div{
      margin: 1rem 0;
  
    }
    .sb_footer-below{
      flex-direction: column;
      justify-content: left;
    }
  
  }
  
  import "../Components/Footer.css";
  import logofooter from "../Components/Assets/hussme Logo-2 2-black.jpg";
  export function Footer() {
    return (
      <div className="footer">
        <div className="sb_footer section_padding">
          <div className="sb_footer-links">
            <div className="sb_footer-links-div">
              <img src="" alt="" />
              <p>
                Streaming the business process for growth and bring in the out of
                the box solution to reduce expenses
              </p>
            </div>
          </div>
  
          <div className="sb_footer-links-div">
            <a href="">
              <p>Home</p>
            </a>
            <a href="">
              {" "}
              <p>Business</p>
            </a>
            <a href="">
              <p>Talent</p>
            </a>
            <a href="">
              <p>Blog</p>
            </a>
            <a href="">
              <p>Contact US</p>
            </a>
          </div>
          <div className="sb_footer-links-div">
            <a href="">
              <p>Privacy policy</p>
            </a>
            <a href="">
              <p>Terms & Condition</p>
            </a>
            <a href="">
              <p>Partners</p>
            </a>
          </div>
          <div className="sb_footer-links-div">
            <div className="contact-btn">
              <a href="">Contact Us</a>
            </div>
  
            <div className="mobile">
              <a href="tel:+1 803 803 9889">+1 803 803 9889</a>
            </div>
  
            <div className="mail">
              <a href="mailto:support@hussme.com">support@hussme.com</a>
            </div>
  
            <div className="socialmedia">
              <a href="">
                <div className="x-icn"></div>
              </a>
              <a href="">
                <div className="insta-icn"></div>
              </a>
              <a href="">
                <div className="fb-icn"></div>
              </a>
              <a href="">
                <div className="linkedin-icn"></div>
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div className="sb_footer-below">
          <div className="sb_footer-copyright">
            <p>©All Copyrights {new Date().getFullYear()} by Husssme</p>
          </div>
        </div>
      </div>
    );
  }
  