body {
    background: #333037;
  }
  
  .grid > div {
    height: 78px;
  }
  
  .frame {
    translate: 0 10px;
  }
  
  .frame header {
    top: -60px;
  }
  
  .frame h3 {
    bottom: -30px;
  }
  
  button {
    font-family: inherit;
  }
  
  /* btn-2 */
  
  /* btn-2 */
  
  .btn-2 {
    scale: 0.5;
    padding: 0 50px;
    width: 160px;
    height: 64px;
    background: black;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    overflow: hidden;
  }
  
  .btn-2:hover {
    color: black;
  }
  
  .btn-2:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
  
  .btn-2:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
