.blog-container {
  margin-top: 70px;
  height: fit-content;
  display: flex;
  width: 100%;

  /* background-color: yellow; */
}

.blog-frame {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/Home-Blog/Rectangle\ 42.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-name {
  width: 60%;
  min-height: 60px;
  transform: skew(-35deg);
  margin-left: -30px;
  background-color: white;
  box-shadow: rgba(89, 89, 89, 0.48) 5px 2px 12px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.blog-name h2 {
  width: 92%;
  transform: skew(35deg);
  height: fit-content;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 600;
  text-align: right;
}

/* Start of Home Blog */
.cards-container {
  margin: 40px auto;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.blog-cards-container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: fit-content;
  /* background-color: #9747ff; */
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);

}

.blog-card {
  border-radius: 10px;
  height: 480px;
  width: 420px;
  /* background-color: #9747ff; */
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.background-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  transition: 1.5s;
}
.background-img:hover {
  transition: 1.5s;
  background-position: right;
}
.cr-1:hover {
  /* background-image: url("../Components//Assets/Home-Blog/blog-1-w.png"); */
  background-image: url("https://i.ibb.co/VWz9skW1/blog-1-w.png");
}
.cr-2 {
  /* background-image: url("../Components//Assets/Home-Blog/blog-2.jpg"); */
  background-image: url("https://i.ibb.co/4ncRWP89/blog-2.jpg");
}
.cr-2:hover {
  /* background-image: url("../Components//Assets/Home-Blog/blog-2-w.jpg"); */
  background-image: url("https://i.ibb.co/7Jv0MdC3/blog-2-w.jpg");
}
.cr-3 {
  /* background-image: url("../Components//Assets/Home-Blog/blog-3.png"); */
  background-image: url("https://i.ibb.co/b5S565GR/blog-3.png");
}
.cr-3:hover {
  /* background-image: url("../Components//Assets/Home-Blog/blog-3-w.png"); */
  background-image: url("https://i.ibb.co/fGXNkh2s/blog-3-w.png");
}
.cr-4 {
  /* background-image: url("../Components//Assets/Home-Blog/blog-4.jpg"); */
  background-image: url("https://i.ibb.co/yBYSxJdR/blog-4.jpg");
}
.cr-4:hover {
  /* background-image: url("../Components//Assets/Home-Blog/blog-4-w.jpg"); */
  background-image: url("https://i.ibb.co/ccPv5qCF/blog-4-w.jpg");
}

.btm-card {
  height: 22%;
  width: 100%;
  border-radius: 0px 25px 10px 10px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.blog-card {
  color: #b6afaf;
}
.date-comment {
  width: 90%;
  height: fit-content;
  color: #666464;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: medium;
  font-weight: 500;
  gap: 20%;
}
.date,
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date-icn,
.comment-icn {
  background-image: url("../Assets/svg/time-icn.svg");
  height: 20px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.date-icn {
  padding-right: 5px;
}
.comment-icn {
  margin-top: 4px;
  padding-left: 5px;
  background-image: url("../Assets/svg/message-icn.svg");
}
.blog-title {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50%;
  width: 90%;
  color: white;
}
.blog-title h2 {
  padding: 0;
  margin: 0;
  font-size: 23px;
  text-align: left;
  line-height: 25px;
  width: 100%;
}
.last-box {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.more-info {
  width: auto;
  text-align: left;
  font-size: large;
  font-weight: 500;
  background: -webkit-linear-gradient(#f08143, #9747ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 20px;
}
.blog-card .arrow {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.blog-card :hover .arrow {
  transform: translateX(100%);
}

.scroll-dot:hover.dot-3 {
  height: 50px;
  width: 20px;
  background-color: #ff0000;
}

@media screen and (max-width: 1170px) {
  .blog-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .blog-name {
    width: 75%;
  }
  .blog-name h2 {
    width: 90%;
  }
  .blog-card {

    height: 550px;
    width: 92%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .btm-card {
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    width: 100%;
    gap: 5px;
  }
  .date-comment {
    height: fit-content;
    /* padding-left: 70px; */
    padding-right: 5px;
    width: 90%;
    gap: 15%;
  }
  .blog-title {
    height: fit-content;
  }
  .blog-title h2 {
    width: fit-content;
  }
  .blog-card .arrow {
    width: 40%;
  }
}
/* End of Home Blog */
