.contactus-page {
  margin-top: 70px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-title {
  width: 100%;
  min-height: 50px;
  font-family: "poppins";
  font-size: 45px;
  font-weight: 700;
}
.contact-intro {
  width: 100%;
  min-height: 800px;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1140px) {
  .contact-intro {
    flex-direction: column;
    min-height: 800px;
    width: 100%;
    /* background-color: aquamarine; */
  }
  .left-contact {
    min-width: 100%;
    background-size: cover;
    max-height: 400px;
    /* background-color: antiquewhite; */
    /* min-height: 250px; */
  }
  .right-contact {
    min-height: 400px;
    min-width: 95%;
    /* background-color: orange; */
    margin-bottom: 50px;
  }
}
.left-contact {
  width: 50%;

  height: 600px;
  background-image: url("../Assets/Home-Blog/contactus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.right-contact {
  width: 50%;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:gray ; */
  gap: 30px;
}
.contact-slogan {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}
.contact-line-1,
.contact-line-2 {
  text-align: left;
  width: fit-content;
  height: fit-content;
  font-family: "poppins";
  font-size: 75px;
  line-height: 80px;
  font-weight: 700;
}
.contact-line-2 {
  display: flex;
  flex-direction: row;
}
.symbol-color {
  color: blueviolet;
}
.contact-detail {
  width: 80%;
  font-size: x-large;
  font-weight: 500;
  text-align: left;
}
.contact-button {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";

  font-size: 25px;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  background-color: #9747ff;
}

/* Start of Contact detail input */
.contact-detail-container {
  min-height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8547794117647058) 33%,
    rgba(240, 129, 67, 0.8547794117647058) 35%,
    rgba(162, 78, 232, 0.7875525210084033) 66%,
    rgba(255, 255, 255, 0.7875525210084033) 67%
  );
}
.contact-info-title {
  font-size: 35px;
  font-family: 'poppins';
  font-weight: 600;
  background: #f08143;
  background: linear-gradient(to bottom, #f38c50 45%, #9c58f6 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.contact-input-box {
  height: 90%;
  width: 50%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #9d58f6d0;
  margin-bottom: 30px;
}
.row {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.input-field {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}
.input-field input,
textarea {
  background-color: rgb(255, 255, 255);
}
.input-field input,
textarea {
  height: 40px;
  max-width: 100%;
  border: 2px solid rgb(199, 197, 197);
  outline: none;
  transition: border-color 0.3s;
  color: rgb(36, 35, 42);
  font-size: 16px;
  min-height: 28px;
  border-radius: 4px;
  padding: 0px 16px;
  box-shadow: rgba(123, 122, 122, 0.12) 0px 1px 3px,
    rgba(124, 124, 124, 0.24) 0px 1px 2px;
}

.input-field input:focus {
  border-color: #9c58f6;
}
.message:focus {
  border-color: #9c58f6;
}
label {
  line-height: 30px;
}
.message-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.inner-box {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
}
.message {
  /* width: 100%; */
  height: 120px;
  padding: 10px 16px;
}

.button-row {
  margin: 20px 0;
  width: 90%;
  display: flex;
  height: fit-content;
  align-items: center;

  gap: 40px;
  justify-content: center;
}
.submit-button,
.reset-button {
  height: 45px;
  width: 150px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 22px 16px;
}
.submit-button {
  background-color: #9747ff;
  color: white;
}
.reset-button {
  background-color: #7c7c7c;
  color: white;
}
label {
  min-height: fit-content;
  text-align: left;
  font-family: "poppins";
  font-size: larger;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
.s {
  padding: 0;
  margin: 0;
  color: red;
}
@media screen and (max-width: 900px) {
  .contact-input-box {
    width: 80%;
    min-height: fit-content;
  }
  .row {
    width: 75%;
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }
  .message-box {
    width: 75%;
  }

  .inner-box {
    width: 100%;
  }
  .message {
    height: 100px;
  }
  .button-row {
    width: 100%;
  }
  .submit-button,
  .reset-button {
    padding: 10px 15px;
    height: fit-content;
    width: fit-content;
    font-size: medium;
    font-weight: 500;
  }
}
/* End of Contact detail input */
