.talent-page {
  margin-top: 80px;
  /* height: 100vh; */
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talent-title {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "poppins";
}
/* Start of Talent intro Section */
.tal-content {
  display: flex;
  flex-direction: row;
  width: 99%;
  align-items: center;
  min-height: 800px;
}
.left-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.talent-slogan {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tal-line-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tal-line-1,
.tal-line-2,
.tal-line-3 {
  width: 85%;
  font-size: 50px;
  font-weight: bold;
  font-family: "poppins";
  line-height: 51px;
  text-align: left;
}
.work-wrd,
.tal-line-3 {
  color: #f08143;
}
.tal-define {
  width: 85%;
  text-align: left;
}
.tal-define p {
  width: 90%;
  padding: 0;
  margin: 0;
  font-size: larger;
  font-weight: 500;
  line-height: 20px;
}
.right-section {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/Talent-page/Tal-icn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1170px) {
  .tal-content {
    flex-direction: column;
    min-height: fit-content;
    margin-bottom: 30px;
  }
  .left-section {
    width: 100%;
    height: fit-content;
    justify-content: start;
    flex-direction: column;
    margin: 20px 0px;
    gap: 25px;
  }
  .talent-slogan {
    min-height: fit-content;
  }

  .tal-define p {
    text-align: left;
    width: 100%;
    height: fit-content;
  }
  .right-section {
    width: 100%;
    height: 250px;
  }
}
/* End of Talent intro Section */
/* Start of talent card Section */

.bus-tal-card-back {
  background: rgb(240, 129, 67);
  background: linear-gradient(
    13deg,
    rgba(240, 129, 67, 0.8547794117647058) 7%,
    rgba(162, 78, 232, 0.8743872549019608) 34%,
    rgba(157, 75, 240, 0.8575805322128851) 44%,
    rgba(255, 255, 255, 1) 44%
  );
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.bus-tal-card {
  /* margin-top: 110px; */
  height: 550px;
  width: 30%;
  border-radius: 15px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1170px) {
  .bus-tal-card-back {
    background: rgb(240, 129, 67);
    background: linear-gradient(
      283deg,
      rgba(240, 129, 67, 0.8547794117647058) 7%,
      rgba(162, 78, 232, 0.8743872549019608) 34%,
      rgba(157, 75, 240, 0.8575805322128851) 44%,
      rgba(255, 255, 255, 1) 44%
    );
    min-height: 1600px;
    flex-direction: column;
  }
  .tal-slogan {
    width: 100%;
  }
  .tal-text-box {
    width: 95%;
  }

  .img-detail {
    width: 100%;
  }
  .bus-tal-card {
    width: 90%;
    min-height: fit-content;
    margin: 10px;
  }
  .tal-detail {
    width: 100%;
  }
  .tal-detail p {
    max-width: 90%;
    margin-bottom: 10px;
  }
  .bus-card-img {
    width: 100%;
  }
  .card-img {
    width: 100%;
  }
  .static-card-title {
    line-height: 5px;
  }
}

.bus-tal-card:hover .bus-card-img {
  transition: all 1s ease-in-out;
  transform: translateY(12%);
  filter: grayscale(100%);
}

.bus-card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-img img {
  width: 90%;
  border-radius: 15px;
  height: 400px;
  object-fit: cover;
}
.bus-tal-card:hover .card-img img {
  height: 400px;
}

.card-img p {
  opacity: 0;
  visibility: auto;
  height: fit-content;
  bottom: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  padding: 0;
  margin: 0;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.66);
  font-size: medium;
  font-weight: 450;
  transition: all 0s ease-out;
}

.bus-tal-card:hover .card-img p {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-out;
  height: fit-content;
  bottom: 0;
  display: flex;
  width: 90%;
}

.static-card-title {
  margin-top: 10px;
  line-height: 30px;
  width: 90%;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.bus-tal-card:hover .static-card-title {
  line-height: 30px;
  transition: all 1s ease-in-out;
  transform: translateY(-420px);
  background: #f08143;
  background: linear-gradient(to bottom, #f08143 20%, #9747ff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* End of talent card Section*/

/*  Start of Package and pricing */

.package-pricing {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.package-title {
  width: 95%;
  text-align: left;
  font-size: 37px;
  font-family: "poppins", sans-serif;
  background: #f08143;
  background: linear-gradient(to bottom, #f08143 45%, #9747ff 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 500;
  margin-bottom: 30px;
}
.package-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.cat-tag {
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.cat-label {
  width: 90%;
  height: 90%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.l-1 {
  background-image: url("../Assets/Business-page/Icn/basic.png");
}
.l-2 {
  background-image: url("../Assets/Business-page/Icn/pro.png");
}
.l-3 {
  background-image: url("../Assets/Business-page/Icn/elite.png");
}
.cat-icn {
  width: 70%;
  height: 70%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.i-1 {
  background-image: url("../Assets/Business-page/Icn/pricing-icon-1.png.png");
}
.i-2 {
  background-image: url("../Assets/Business-page/Icn/pricing-icon-2.png.png");
}
.i-3 {
  background-image: url("../Assets/Business-page/Icn/pricing-icon-3.png.png ");
}
.price-title {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.price-title h2 {
  padding: 0%;
  margin: 0%;
  text-decoration: underline #0000003c 1.5px;
  text-underline-offset: 10px;
  text-shadow: #9747ff 0px 1px 10px 0px, #f08243 0px 1px 3px 2px;
  font-size: 45px;
  text-align: left;
  margin-left: 25px;
  background: #f08143;
  background: linear-gradient(to top, #f08143 30%, #9747ff 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.price-title h5 {
  padding: 0%;
  margin: 0%;
  font-size: large;
  color: rgba(128, 128, 128, 0.795);
}
.talent-price-card-1,
.talent-price-card-2 {
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 40%;
  border-radius: 15px;
  height: fit-content;
  background-color: white;
  overflow: hidden;
}

.talent-price-card-1::before,
.talent-price-card-2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 13px;
  background: linear-gradient(to bottom, #f08243be 0%, #9747ffbe 100%);
  -webkit-mask: linear-gradient(white, white) content-box,
    linear-gradient(white, white);
  mask-composite: exclude;
}
.talent-price-card-1:hover {
  box-shadow: #f08243 0px 1px 10px 0px, #9747ff 0px 1px 3px 2px;
}
.talent-price-card-1:hover {
  box-shadow: #f08243 0px 1px 10px 0px, #9747ff 0px 1px 3px 2px;
}

.consultation,
.staffing,
.digital-marketing {
  font-size: xx-large;
  font-weight: 500;
  text-align: left;
  padding-left: 25px;
}
.package-cards ul {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.package-cards ul li {
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  text-align: left;
  font-size: large;
  font-weight: 500;
}
.tick-icn {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.t-1 {
  background-image: url("../Assets/Business-page/Icn/tick-1.png");
}
.t-2 {
  background-image: url("../Assets/Business-page/Icn/tick-2.png");
}
.t-3 {
  background-image: url("../Assets/Business-page/Icn/tick-3.png");
}
.tick-icn-e {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 1170px) {
  .package-pricing {
    min-height: fit-content;
  }
  .package-title {
    margin-top: 30px;
    width: 90%;
    background: #f08143;
    background: linear-gradient(to right, #f08143 5%, #9747ff 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .package-cards {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
  }

  .talent-price-card-1,
  .talent-price-card-2 {
    min-width: 90%;
  }
  .cat-label {
    width: 95%;
    height: 80%;
    background-size: contain;
  }
  .tick-icn,
  .tick-icn-e {
    min-width: 22px;
    min-height: 22px;
  }
}
/* End of Package and pricing  */
