.reset-page {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", serif;
  background-image: url('https://i.ibb.co/Fk2MMqFj/46755.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.reset-page-1 {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  height: 400px;
  margin-top: 70px;
  margin-bottom: 300px;
}
.page-1-icn,
.page-2-icn {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-image: url("https://i.ibb.co/nNtPy4ZX/password-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.forgot-text {
  margin-top: 10px;
  font-size: x-large;
  font-weight: 600;
}
.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 0px;
}

.forgot-form input {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  font-size: 16px;
}
.forgot-form input:focus {
  outline: none;
  border: 2px solid #9747ff;
}
.forgot-form label {
  margin-top: 15px;
  margin-bottom: -10px;
  font-size: larger;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
.forgot-form label:focus {
  border: 2px solid #9747ff;

}
.forgot-reset-button {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border-width: 0px;
  font-size: larger;
  font-weight: 500;
  color: white;
  background-color: #9747ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-page {
  margin-top: 15px;
  font-weight: 500;
  font-size: large;
  color: rgb(102, 100, 100);
}

/* page-2 */
.reset-page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vh;
  height: 400px;
  margin-top: 70px;
  margin-bottom: 300px;
}
.page-2-icn {
  background-image: url("https://i.ibb.co/q3QTX0DB/mail.png");
}
.reset-page-2 p {
  font-size: large;
  font-weight: 600;
  color: rgb(81, 81, 81);
}
.next-button {
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45%;
  font-size: x-large;
  font-weight: 600;
  background-color: rgb(79, 78, 78);
}
