.footer-col {
  margin-top: auto;
  width: 100%;
  height: 280px;
  border-radius: 20px 5px 0px 0px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .footer-col {
    flex-direction: column;
    height: max-content;
    gap: 20px;
    margin: 0 auto;
  }
  .col-1 {
    padding-top: 5%;
    margin-bottom: 3%;
  }
  .col-2 {
    margin-bottom: 3%;
    padding-right: 60px;
  }
}

@media (min-width: 1000px) {
  .col-3 {
    margin-bottom: 50px;
  }
}

.col-1 img {
  margin: 0 auto;
  text-align: left;
  height: 90px;
  width: 250px;
}
.col-1 p {
  margin: 0 auto;
  width: 300px;
  font-size: 18px;
  color: aliceblue;
  text-align: left;
}

.col-2 {
  min-width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.col-2 ul {
  margin: 0 auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 3px;
}
.col-2 ul li {
  display: flex;
  text-align: left;
}
.col-2 ul li a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
}

.col-3 {
  min-width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.col-3 ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.col-3 ul li {
  text-align: left;
}

.col-3 a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.col-4 {
  min-width: 20%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-btn {
  height: 50px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f08143;
  border-radius: 24px;
}
.contact-btn:hover {
  background-color: #8a2be2;
}
.contact-btn a {
  font-size: 21px;
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.cen-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}
.mobile {
  padding-right: 32px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  gap: 2px;
}
.mobile img {
  display: flex;
  height: 40px;
  width: 40px;
}
.mobile a {
  font-size: 19px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.mail {
  margin: 0 auto;
  display: flex;
  justify-content: left;
  gap: 5px;
}
.mail img {
  height: 30px;
  width: 30px;
}
.mail a {
  text-align: left;
  font-size: 19px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social-media {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.x-icn {
  height: 50px;
  width: 50px;
  background-image: url("../Components/Assets/svg/x-icn-pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x-icn:hover {
  background-color: #8a2be2;
  color: aquamarine;
  background-image: url("../Components/Assets/svg/x-icn-white.svg");
}
.insta-icn {
  height: 50px;
  width: 50px;
  background-image: url("../Components/Assets/svg/iiinsta.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.insta-icn:hover {
  background-color: #8a2be2;
  color: aquamarine;
  background-image: url("../Components/Assets/svg/iinsta-white.svg");
}
.fb-icn {
  height: 50px;
  width: 50px;
  background-image: url("../Components/Assets/svg/fb-icn-pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb-icn:hover {
  background-color: #8a2be2;
  color: aquamarine;
  background-image: url("../Components/Assets/svg/fb-icn-white.svg");
}
.linkedin-icn {
  height: 50px;
  width: 50px;
  background-image: url("../Components/Assets/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin-icn:hover {
  background-color: #8a2be2;
  color: aquamarine;
  background-image: url("../Components/Assets/linkedin-white.png");
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  height: 63px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 1.5px;
  width: 10%;
  color: aliceblue;
}

.copy-container h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(109, 109, 109);
}
hr {
  width: 70%;
}
