.home {
  margin-top: 80px;
  width: 100%;
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

/* !<--Start of Carousal Section-->! */
.slider {
  width: 95%;
  max-width: 1200px;
  height: auto;
  max-height: 700px;
  border-radius: 10px 0px 10px 0px;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  transition: 10s;
}

.slides input {
  display: none;
}
.slide {
  height: 80%;
  position: relative;
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.slide-text {
  min-height: fit-content;
  width: auto;
  max-width: 750px;
  position: absolute;
  bottom: 20%;
  right: 0%;
  color: rgb(0, 0, 0);
  text-align: left;
  background: rgba(255, 255, 255, 0.952);
  padding: 8px;
  border-radius: 8px 0px 0px 0px;
}

.slide-text h2 {
  padding-left: 5px;
  max-width: 800px;
  font-style: italic;
  text-align: left;
  margin: 0 0 0 0;
}

/* Adjust styles for larger screens */
@media screen and (max-width: 1440px) {
  .slide-text {
    bottom: 25%;
    right: 0px;
  }
  .slide-text h2 {
    font-size: medium;
    color: #000000;
  }
}

/* For smaller devices */
@media screen and (max-width: 1090px) {
  .slide-text {
    top: 70%;
    right: 0%;
  }
  .slide-text h2 {
    max-width: 330px;
    height: fit-content;
    font-size: small;
    color: rgb(6, 6, 6);
  }
}

@media screen and (max-width: 650px) {
  /* <--mobile view--> */
  .slide-text {
    top: 75%;
  }
  .slide img{
    border-radius: 0px 0px 10px 0px;
  }
}

/* For mobile devices */
@media screen and (max-width: 480px) {
  .slide-text {
    bottom: 12%;
    text-align: left;
    width: auto;
  }
  .slide-text h2 {
    font-size: xx-small;
    width: auto;
    max-width: 240px;
    color: rgb(0, 0, 0);
  }
}

.navigation-manual {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.manual-btn {
  width: 47px;
  max-width: 85px;
  height: 0px;
  max-height: 5px;
  transform: skew(20deg);
  border: 1.5px solid rgb(255, 255, 255);
  padding: 4px 5px 4px 4px;
  border-radius: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.manual-btn:not(:last-child) {
  margin-right: 15px;
}
.manual-btn:hover {
  background-color: rgb(255, 255, 255);
}

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -100%;
  transition: all 2s ease-in-out;
}
#radio3:checked ~ .first {
  margin-left: -200%;
  transition: all 2s ease-in-out;
}

.navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
}
.navigation-auto div {
  width: 51px;
  max-width: 80px;
  height: 5px;
  max-height: 5px;
  transform: skew(20deg);
  border: 2.1px solid rgb(255, 255, 255);
  padding: 2px;
  border-radius: 1%;
  transition: background-color 0.3s ease;
}
.navigation-auto div:not(:last-child) {
  margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: rgb(255, 255, 255);
}

/* Responsive Design */
@media screen and (max-width: 1440px) {
  .home {
    background-color: rgb(255, 255, 255);
  }
  .slider {
    max-width: 900px;
    max-height: 500px;
  }
  .manual-btn {
    padding: 4px;
  }
  .navigation-auto div {
    padding: 1.5px;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    background-color: rgb(255, 255, 255);
  }
  .slider {
    max-width: 900px;
    max-height: 500px;
  }
  .manual-btn {
    padding: 4px;
  }
  .navigation-auto div {
    padding: 1.5px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    background-color: rgb(255, 255, 255);
  }
  .slider {
    max-width: 700px;
    max-height: 400px;
  }
  .manual-btn {
    padding: 4px;
  }
  .navigation-auto div {
    padding: 1.5px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    background-color: rgb(255, 255, 255);
  }
  .slider {
    max-width: 90%;
    max-height: 300px;
  }
  .manual-btn {
    padding: 4px;
  }
  .navigation-auto div {
    /* for mobile  */
    width: 50px;
    max-width: 80px;
    height: 5px;
    max-height: 5px;
    padding: 2px;
  }
}
/* !<--End of Carousal Section-->! */

/* !<--Start of Our Levers Section-->! */
.our-levers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.levers {
  width: 95%;
  display: flex;
  font-size: xx-large;
  font-weight: 600;
}

.row-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.img-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.img-container img {
  height: 500px;
  border-radius: 15px;
  width: 350px;
  object-fit: fill;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 25px;
  gap: 10px;
}
.container-2 {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.play-button {
  position: relative;
  width: 130px;
  height: 130px;
  perspective: 1000px;
}

.play-button-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s ease-in-out;
}

.play-button:hover .play-button-inner {
  transform: rotateY(180deg);
}

.play-button-front,
.play-button-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  -webkit-box-shadow: -1px 0 10px -0.5px #dddddd;
  -moz-box-shadow: -1px 0 10px -0.5px #dddddd;
  box-shadow: -1px 0 10px -0.5px #dddddd;
}

.play-button-front {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button-front img {
  width: 50%;
  height: auto;
}

.play-button-back {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.play-button-back img {
  width: 50%;
  height: auto;
}

.container-1 {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1117px) {
  .row-container {
    flex-direction: column;
  }
  .img-container,
  .img-container img {
    height: 100%;
    width: 100%;
  }

  .container-1,
  .container-2 {
    width: 100%;
  }

  .containers {
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .play-button {
    width: 200px;
    height: 200px;
    margin: 25px auto;
  }

  /* For Active cards */

  .our-card {
    margin-top: 30px;
    min-height: 430px;
    min-width: 70%;
  }
  .our-card .face {
    gap: 50px !important;
  }
  .our-card:hover .face.face2 {
    min-height: 100px;
  }
  .circle {
    min-height: 150px;
    min-width: 150px;
  }
  .img-circle-1 {
    min-height: 150px;
    min-width: 150px;
  }
  .our-card:hover .face.face2 h2 {
    font-size: 30px !important;
  }
  .content {
    width: 100%;
    max-height: 55%;
    display: flex;
    align-items: center;
    /* background-color: #523232; */
    /* justify-content: center; */
    /* display: flex; */
    align-items: top !important;
  }
  .content p {
    text-align: top;
    width: fit-content;
    min-height: 95%;
    /* background-color: #d3bdbd; */
    font-size: x-large;
    line-height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .content {
    min-height: 80%;
    align-items: center !important;
  }
}
@media screen and (max-width: 500px) {
  .content {
    min-height: 90%;
    align-items: center !important;
  }
}
/* s test */
.our-card {
  position: relative;
  width: 220px;
  height: 300px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.556) 0px 0px 5px;
  border-radius: 15px;
}

.our-card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.our-card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.our-card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.our-card .face.face1 .content {
  margin: 0;
  font-weight: 500;
}

.our-card .face.face2 {
  background: #51515100;
  transition: 1s ease-in-out;
}

.our-card:nth-child(1) .face.ddk {
  background-image: url("./Assets/Home-Blog/61769.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 15px;
}
.our-card:nth-child(1) .face.ssk {
  background-image: url("./Assets/Our Levers/kkki.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.our-card:nth-child(2) .face.cck {
  /* background-image: url("./Assets/Home-Blog/61769.jpg"); */
  background-image: url("./Assets/Our Levers/image\ copy.png");
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  border-radius: 15px;
}
.cicle {
  display: flex;
  height: 120px;
  width: 120px;
  background: white;
  align-items: center;
  justify-content: center;
  /* transition: all 2s; */
}
.img-circle-1 {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  object-position: center;
  object-fit: cover;
  box-shadow: 0px 0 5px 1px #363636;
  background-color: black;
  /* transition: all 2s; */
}
.our-card:hover .circle {
  /* transition: all 0.5s ease-in-out; */
  display: none;
  height: 0px;
  /* transition: all 2s; */
}

.our-card:hover .face.face2 {
  height: 50px;
  background-image: none;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 15px 15px;
  transition: all 1s ease-in-out;
}
.our-card:hover .face.face2 h2 {
  transition: all 1s ease-in-out;
  font-size: 20px;
  color: white;
}
.our-card .face.face2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px 0 0 15px;
}

.our-card .face.face2 h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 33px;
  line-height: 37px;
  color: #000000;
  transition: 3s ease-out;
  text-shadow: 0 2px 5px rgba(16, 16, 16, 0.2);
}

.content {
  /* background-color: #111; */
  width: 100%;
  height: 80%;
  display: flex;
  align-items: top;
  /* justify-content: center; */
}
.content p {
  text-align: center;
  font-weight: 550;
  padding: 0;
  margin: 0;
}
/* E test */

/* End of Our Levers Section */

/* !<--Start of Business & Talent Card Section-->! */
.bus-tal-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 700px;
  align-self: center;
  gap: 40px;
}

.business-container {
  position: relative;
  width: 100%;
  height: 400px;
}
.business-content-section {
  display: flex;
  top: 70px;
  position: relative;
  height: fit-content;
  width: 65%;
  border-radius: 15px;
  background-image: linear-gradient(to right, #f08243cf, #a560ff);
  padding: 10px 0px 0px 0px;
}
.talent-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.talent-content-section {
  display: flex;
  height: fit-content;
  position: relative;
  width: 65%;
  top: 70px;
  right: 5%;
  border-radius: 15px;
  background-image: linear-gradient(to right, #f08243f2, #a560ffcc);
  padding: 10px 0px 0px 0px;
}
.content-list {
  padding: 5px 0px 15px 5px;
  border-radius: 20px 20px 15px 15px;
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 3px 3px 7px -3px;
}
.content-heading {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  width: 100%;
  font-size: xx-large;
  font-weight: 600;
}
.content-list ul {
  padding-left: 70px;
}
.content-list ul li {
  width: fit-content;
  list-style-type: disc;
  text-align: left;
  margin: 0;
  word-spacing: 2.5px;
  font-weight: 400;
  font-size: large;
}
.content-list button {
  min-height: 40px;
  width: fit-content;
  /* background-image:linear-gradient(to top left,#f9803adf,#a945fa); */
  background-color: #8e40f4d3;
  font-size: 21px;

  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: none;
}

/* Start CSS for Package & Pricing Button */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: auto;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: auto;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  width: 100%;
  height: fit-content;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* End of CSS for Package & Pricing Button */

.business-img-section {
  width: 30%;
  height: 70%;
  position: absolute;
  right: 10%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 5px 5px 11px -1px;
}
.talent-img-section {
  width: 30%;
  height: 70%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 5px 5px 11px -1px;
}

.business-img-section img,
.talent-img-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* For Responsive */

@media screen and (max-width: 1170px) {
  .bus-tal-container {
    width: 100%;
    min-height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #666464; */
  }
  .business-container,
  .talent-container {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .business-content-section,
  .talent-content-section {
    /* padding: 8px 0px 0px 0px; */
    height: fit-content;
    width: 100%;
    position: static;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

  .business-img-section,
  .talent-img-section {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.7) 0px 5px 10px;
    position: static;
    background-color: #dddddd;
    height: 250px;
    width: 80%;
    border-radius: 15px 15px 0px 0px;
  }
  .talent-img-section {
    max-height: 200px;
  }
  .business-img-section img,
  .talent-img-section img {
    height: 100%;

    /* background-size: contain; */
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0px 0px;
  }

  .content-list ul {
    padding-left: 10%;
  }
}
/* !<--End of Business & Talent Card Section-->! */
/* Start of Start of Company Work Progress Count */

.work-status-container {
  padding-top: 20px;
  height: fit-content;
  width: 95%;
  display: flex;
  justify-content: center;
}
.status-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.progress-name {
  max-width: 140px;
  text-align: center;
  font-family: "poppins";
  font-size: x-large;
  font-weight: 600;
}
.count {
  display: flex;
  justify-content: center;
  width: 100%;
  /* font-family: "poppins", serif; */
  font-size: 40px;
  font-weight: 600;
  color: #9747ff;
}
.icon {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 19px 5px #b6afaf;
  -moz-box-shadow: 0 0 19px 5px #b6afaf;
  box-shadow: 0 0 19px 5px #b6afaf;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: #ffffff;
}
.icon-4 {
  background-size: 50%;
}
.icon-1:hover,
.icon-2:hover,
.icon-3:hover,
.icon-4:hover {
  background-color: #9747ff;
}
.icon-1 {
  background-image: url("../Components/Assets/For-status/prjp.svg");
}
.icon-1:hover {
  background-image: url("../Components/Assets/For-status/prjw.svg");
}
.icon-2 {
  background-image: url("../Components/Assets/For-status/empp.svg");
}
.icon-2:hover {
  background-image: url("../Components/Assets/For-status/empw.svg");
}
.icon-3 {
  background-image: url("../Components/Assets/For-status/jobp.svg");
}
.icon-3:hover {
  background-image: url("../Components/Assets/For-status/jobw.svg");
}
.icon-4 {
  background-image: url("../Components/Assets/For-status/happyp.svg");
}
.icon-4:hover {
  background-image: url("../Components/Assets/For-status/happyw.svg");
  background-size: 50%;
}
@media screen and (max-width: 1170px) {
  .work-status-container {
    margin-bottom: 20px;
  }
  .status-list {
    padding-top: 0;
    flex-direction: column;
    gap: 25px;
  }
  .box {
    width: 100%;
  }
  .count {
    font-weight: 700;
    font-size: 60px;
    visibility: hidden;
    position: relative;
  }
  .count::before {
    text-align: center;
    content: attr(data-num);
    visibility: visible;
    position: absolute;
    top: 0;
  }

  .icon {
    background-size: 50%;
    height: 150px;
    width: 150px;
  }
  .work-status-container:focus {
    background-color: #b6afaf;
  }
}
/* End of Company Work Progress Count */

/*Start of Home Contact card */
.contact-card {
  width: 95%;
  margin-top: 25px;
  font-weight: 500;
  font-size: 30px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(240, 129, 67);
  background: linear-gradient(
    185deg,
    rgba(240, 129, 67, 1) 8%,
    rgba(151, 71, 255, 1) 96%
  );
  border-radius: 15px 1px 15px 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact-card:hover .center-icn img {
  transition: all 0.5s ease-in-out;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.left-detail,
.right-detail {
  width: 40%;
}
.center-icn {
  width: 20%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-icn img {
  height: fit-content;
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.left-detail .line-2 {
  color: white;
}
.right-detail .line-1 {
  color: white;
}
.right-detail .line-2 a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1170px) {
  .contact-card {
    width: 80%;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    /* gap: 20px; */
    background: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 10px 1px 8px,
      rgba(0, 0, 0, 0.09) 0px 12px 16px;
    margin-bottom: 20px;
  }
  .left-detail,
  .right-detail {
    width: 100%;
    height: 20%;
    text-align: center;
  }
  .left-detail {
    padding-top: 20px;
  }
  .right-detail {
    padding-bottom: 20px;
  }
  .center-icn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://img.freepik.com/free-vector/connected-world-concept-illustration_114360-3979.jpg?t=st=1739355386~exp=1739358986~hmac=f2777d5e2044b000fdc11f4688bccbdda8aa9d47558f61b85b9484c808010ed7&w=740");
    height: 60%;
    width: 100%;
  }
  .center-icn img {
    display: none;
  }

  .left-detail .line-1 {
    color: #000000;
  }
  .left-detail .line-2 {
    color: #9747ff;
  }
  .right-detail .line-2::first-letter {
    font-size: 26px;
    color: #9747ff;
  }
  .right-detail .line-1 {
    color: rgb(0, 0, 0);
  }

  .right-detail .line-2 a {
    color: #f08143;
  }
}

/* End of  of Home Contact card */

/* Start of Home Blog */
.blog-heading {
  width: 95%;
  text-align: left;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
}
.blog-cards-container {
  width: fit-content;
  height: 600px;
  display: flex;
  overflow-y: hidden;
  -ms-overflow-style: none;
  padding-top: 20px;
  padding-left: 30px;
  gap: 50px;
}

.blog-cards-container::-webkit-scrollbar {
  display: none;
}

.blog-card {
  border-radius: 10px;
  height: 550px;
  min-width: 30%;
  /* background-color: #9747ff; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.background-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  transition: 0.5s;
}
.background-img:hover {
  transition: 0.5s;
  background-position: right;
}
.cr-1 {
  background-image: url("../Components//Assets/Home-Blog/blog-1.png");
}
.cr-1:hover {
  background-image: url("../Components//Assets/Home-Blog/blog-1-w.png");
}
.cr-2 {
  background-image: url("../Components//Assets/Home-Blog/blog-2.jpg");
}
.cr-2:hover {
  background-image: url("../Components//Assets/Home-Blog/blog-2-w.jpg");
}
.cr-3 {
  background-image: url("../Components//Assets/Home-Blog/blog-3.png");
}
.cr-3:hover {
  background-image: url("../Components//Assets/Home-Blog/blog-3-w.png");
}
.cr-4 {
  background-image: url("../Components//Assets/Home-Blog/blog-4.jpg");
}
.cr-4:hover {
  background-image: url("../Components//Assets/Home-Blog/blog-4-w.jpg");
}

.btm-card {
  height: 25%;
  width: 100%;
  border-radius: 0px 25px 10px 10px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.blog-card {
  color: #b6afaf;
}
.date-comment {
  width: 90%;
  height: fit-content;
  color: #666464;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: medium;
  font-weight: 500;
  gap: 20%;
}
.date,
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date-icn,
.comment-icn {
  background-image: url("./Assets/svg/time-icn.svg");
  height: 20px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.date-icn {
  padding-right: 5px;
}
.comment-icn {
  margin-top: 4px;
  padding-left: 5px;
  background-image: url("./Assets/svg/message-icn.svg");
}
.blog-title {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50%;
  width: 90%;
  color: white;
}
.blog-title h2 {
  padding: 0;
  margin: 0;
  font-size: 23px;
  text-align: left;
  line-height: 25px;
  width: 100%;
}
.last-box {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.more-info {
  width: auto;
  text-align: left;
  font-size: large;
  font-weight: 500;
  background: -webkit-linear-gradient(#f08143, #9747ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 20px;
}
.blog-card .arrow {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.blog-card :hover .arrow {
  transform: translateX(100%);
}

@media screen and (max-width: 1170px) {
  .blog-cards-container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px !important;
  }
  .blog-card {
    height: 550px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .btm-card {
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    width: 100%;
    gap: 5px;
  }
  .date-comment {
    height: fit-content;
    /* padding-left: 70px; */
    padding-right: 5px;
    width: 90%;
    gap: 15%;
  }
  .blog-title {
    height: fit-content;
  }
  .blog-title h2 {
    width: fit-content;
  }
  .blog-card .arrow {
    width: 40%;
  }
}
/* End of Home Blog */
