.des-container {
  margin-top: 70px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.des-title {
  font-size: 45px;
  font-family: "poppins";
  font-weight: 600;
}
.des-heading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
  max-width: 29ch;
  font-size: 35px;
  min-height: fit-content;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  background: #f08143;
  background: linear-gradient(to top left, #f08143 20%, #9747ffe3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.des-img {
  margin-top: 10px;
  width: 90%;
  height: 650px;
  background-image: url("/src/Components/Assets/Home-Blog/digital-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 15px 0px 0px 0px;
  box-shadow: #9747ff5d 5px 5px, #9747ff4d 10px 10px, #9747ff33 15px 15px,
    #9747ff1a 20px 20px;

  /* Chamfered Top-Right Corner without Clipping Box Shadow */
  -webkit-mask-image: polygon(
    0% 0%,
    calc(100% - 50px) 0%,
    100% 50px,
    100% 100%,
    0% 100%
  );
  mask-image: polygon(
    0% 0%,
    calc(100% - 50px) 0%,
    100% 50px,
    100% 100%,
    0% 100%
  );
}

@media screen and (max-width: 1200px) {
  .des-img {
    max-height: 350px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .intro-description {
    line-height: 25px;
  }
  .des-point {
    margin-bottom: 15px;
  }
  .spl-point {
  }
  .des-heading {
    font-size: 27px;
  }
  .spl-point-des {
    margin-left: 0px;
    line-height: 25px;
  }
  .point-des {
    line-height: 25px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .spl-point {
    flex-direction: column;
  }
  .details-container {
    width: 100% !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
  }
  .des-sec-1,
  .des-sec-2 {
    width: 95% !important;
  }
  .point-des {
    margin-left: 25px !important;
  }
  .icn-bold-title {
    margin-left: 35px !important;
    height: fit-content;
  }
  .spl-point-des {
    margin-left: 40px !important;
    text-indent: 30px;
    min-height: fit-content;
  }
  .des-point {
    text-align: left;
  }
}

.details-container {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.des-sec-1 {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.des-blog-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.point {
  max-height: 6.5px;
  width: 6.5px;
  background-image: url("/src/Components/Assets/svg/list-po.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.des-intro {
  font-size: 40px;
  font-weight: 600;
  font-family: "poppins";
  line-height: 40px;
}
.intro-description {
  margin-top: 15px;
  width: 100%;
  height: fit-content;
  font-size: larger;
  font-weight: 500;
  text-indent: 25px;
  text-align: left;
}

.des-sec-2 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 25px;
}
.point-container {
  display: flex;
  flex-direction: row;
}
.des-point {
  font-size: xx-large;
  font-weight: 600;
  background-image: linear-gradient(to top left, #f08143 0%, #9747ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 40px;
}

.point-des {
  margin-left: 30px;
  text-align: left;
  margin-top: 5px;
  font-size: larger;
  font-weight: 500;
}
.spl-point {
  min-width: fit-content;
  margin-top: 10px;
  display: flex;
}
.icn-bold-title {
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-width: fit-content;
  align-items: center;
  justify-content: left;
}
.spl-icn {
  /* height: 100%; */
  width: 45px;
  background-image: url("/src/Components/Assets/svg/point-icn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bold-title {
  height: fit-content;
  text-align: left;
  margin-left: 5px;
  font-size: larger;
  font-weight: 600;
}
.spl-point-des {
  margin-left: 5px;
  font-size: larger;
  font-weight: 450;
  text-align: left;
  min-height: max-content;
}
.des-conclusion {
  font-size: xx-large;
  color: black;
}
